<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>TES</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/sidebar.css' />
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #000080">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#" style="border-radius: 7px; border: 0.5px solid #999;padding:6px;">TiCo</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../home">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../manageMainPlan">Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Report</a>
        </li>
      </ul>

      <div class="form-inline my-2 my-lg-0 nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Saeful
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="sidenav">
          <a href="../manageMainPlan">Manage main plan</a>
          <a class="active" href="../addSubPlan">Manage sub plan</a>
          <a href="#clients">Daily plan</a>
        </div>
      </div>
      <div class="col-sm-10">
        <br><br><br><br><h3>Add sub plan</h3>
        <form>
          <div class="form-group">
            <label for="mainplan">Main Plan</label>
            <input type="text" class="form-control" id="mainplan" placeholder="Enter your plan" readonly>
          </div>

          <label for="startdate">Date</label>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <input type="date" class="form-control" id="startdate" readonly>
            </div>
            <div class="col-auto">
              <label for="enddate">to</label>
            </div>
            <div class="col-auto">
              <input type="date" class="form-control" id="enddate" readonly>
            </div>
          </div><br>

          <div class="form-group">
            <label for="subplan">Sub Plan</label>
            <input type="text" class="form-control" id="subplan" placeholder="Enter your plan" required>
          </div>

          <label for="startdate">Date</label>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <input type="date" class="form-control" id="startdate" required>
            </div>
            <div class="col-auto">
              <label for="enddate">to</label>
            </div>
            <div class="col-auto">
              <input type="date" class="form-control" id="enddate" required>
            </div>
          </div><br>

          <button type="submit" class="btn btn-primary">Save</button>
          <a href="#" class="btn btn-warning">Back</a>
        </form>

        <br><br><br>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.plan').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
        </script>
      </body>
      </html>
